@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;


}


/* navbas css */

.navbar-wrapper{
    margin: 0;
    background-color: #111111;
    padding: 40px;
}

.navbar-main{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0 0 0;
    background-color: #111111;
}

.nav-menu-button-red{
    color: white;
    background-color: #E6533C;
    border-radius: 30px;
    padding: 10px;
    width: 80px;
    border: none;

}
.nav-menu-button{
    width: 80px;
    color: white;
    background-color: #111111;
    border-radius: 15px;
    padding: 10px;
    border-radius: 30px;
    border: none;

}
.button-border{
    border: 1px solid #777777;
    border-radius: 30px;
    padding: 3px;

}

.navbar-wrapper .Fitness{
    color: #E6533C;
    font: bolder;
    padding-bottom: 10px;
    font-size: 25px;
    font-style: italic;
    line-height: 20px;
    text-align: left;
}

.banner{
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    
}

.banner-childs-content{
    
    width: 32%;
    padding: 65px 0 0 210px;  
}

.banner-childs-content h1{
    font-weight: 1000;
    font-size: 60px;
}


.banner-childs-content p{
    color: #777777;
    align-items: center;
    justify-content: center;
    padding: 10px 0 20px;
}

.banner-childs-pic{
    width: 35%;
    padding-bottom: 100px;
    
}
.banner-childs-pic img{
    
    width: 60%;
    
}

.btn{
    margin: 0;
    width: 30%;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #E6533C;
    border: none;
    cursor: pointer;
    
}

.btn1{
    margin: 0;
    width: 30%;
    padding: 15px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    background-color: #111111;
}
.habits{
    color: white;
    background-color: #111111;
    width: 1440px;
    height: 600px;
    width: 100%;
    
}


.habits .habits-content{
    
    width: 80%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    margin: 0 auto;
}
.habits .habits-content h1{
    font-weight: 1000;
    font-size: 45px;
}

.habits .habits-content p{
    color: #777777;
    font-size: smaller;
    padding: 15px;
}

.habits-pic{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    
}

.habits-pic .container{
    text-align: center;
    justify-content: center;

}

.habits-pic img{
    border: 3px solid #2c2c2c;
    border-radius: 250px;
    padding: 1px;
}

.habits-pic h4{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-content: center;
    
}

.habits .habits-pic p{
    color: #777777;
    font-size: smaller;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    
}


.run-an-extra{
    
    background-color: #111111;
    color: white;
    margin: 0 auto;
    padding-bottom: 40px;
}
.run-an-extra-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 20px;
    margin: 0 auto;

}
.run-an-extra-child{

    margin: 0 auto;
    padding-left: 100px;
    width: 60%;
}

.run-an-extra-child h1{
    font-weight: 1000;
    font-size: 45px;

}

.run-an-extra-child p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #777777;
}

.run-an-extra-child img{
    border-radius: 60px;
    padding: 40px;
}


.BMI{

    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #111111;
    
}

.BMI h1{
    font-weight: 1000;
    font-size: 45px;
}
.BMI p{
    color: #777777;
}
.BMI-content{
    width: 80%;
    justify-content: space-around;
    align-items: left;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    padding-left: 350px;
    margin: 0 auto;
}

.BMI-calculation{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    background-color: #2c2c2c;
}
.BMI-calculator{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #2c2c2c;

}
.BMI-calculator-childs{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    align-items: center;
    padding-left: 80px;
    padding-right: 120px;
}

.BMI-calculator-childs h2{
    padding: 30px;
}


table,td, th {
    border: 1px solid #777777;
    text-align: left;
    padding: 12px;
    border-collapse: collapse;
  }

.BMI-calculator-form-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;

}

.BMI-calculator-form h2{
    padding: 30px 0 30px;
}
.BMI-calculator-form p{
    padding: 0 0 20px;
}

.BMI-calculator-childs td{
    color: #777777;
}

input, select{
    width: 37%;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #777777;
    background: rgba(255, 255, 255, 0.1);
}

.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
#sex{
    width: 40%;

}
#activity{
    width: 81%;
}

.BMI-calculator-form .btn{
    width: 25%;
}



.meet-our-team{
    width: 100%;
    background-color: #111111;
    color: white;
    padding-bottom: 20px;

}
.meet-our-team-child{
    width: 80%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    margin: 0 auto;
}
.border-box{
    width: 80%;
    background-color: #2c2c2c;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    border-radius: 5%;
}

.meet-our-team-container {
    padding-bottom: 70px;
}
.meet-our-team-container p{
    color: #c0bcbc;
    font-size: 15px;
}
.meet-our-team-child-first{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.border-box .meet-our-team-child-first {
    width: 100%;
}

.meet-our-team-child-first img{
    width: 470px;
    background-size: cover;
    padding: 30px;
    border-radius: 10%;
    filter: brightness(80%);

}
.meet-our-team-child-second{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    
}

.meet-our-team-child-second img{
    background-size: cover;
    width: 470px;
    padding: 30px;
    border-radius: 10%;
    filter: brightness(80%);

}

.image-container{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}

.meet-our-team-child-first .text-overlay-trainer1{
    position: absolute;
    top:75%;
    left :3%;
    color: white; 
    padding: 10px;
    font-size: 13px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meet-our-team-child-first .text-overlay-trainer2{
    position: absolute;
    top:75%;
    left :36%;
    color: white;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meet-our-team-child-first .text-overlay-trainer3{
    position: absolute;
    top:75%;
    left :70%;
    color: white; 
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meet-our-team-child-second .text-overlay-trainer4{
    position: absolute;
    top:75%;
    left :3%;
    color: white; 
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.meet-our-team-child-second .text-overlay-trainer5{
    position: absolute;
    top:75%;
    left :36%;
    color: white; 
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.meet-our-team-child-second .text-overlay-trainer6{
    position: absolute;
    top:75%;
    left :70%;
    color: white; 
    padding: 10px;
    font-size: 13px;
    font-weight: bold;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.footer-main{
    position: relative;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    display: flex;
    flex-direction: row;
    height: 300px;
    padding-top: 50px;
}
.footer-main .footer-content{
    
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.footer-main .footer-content h1{
    color: #E6533C;
    font-weight: 850;
    font: bolder;
    padding-bottom: 10px;
    font-size: 75px;
    font-style: italic;
    line-height: 80px;
    text-align: left;

}

.footer-main .footer-content p{
    color: #777777;
    width: 900%;
}
.footer-main .footer-links{

    width: 40%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.footer-link{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 0 auto; 
    font-weight: 400;
    text-align: left;
    line-height: 45px;
    
}


.all-right {
    background-color: #2c2c2c; 
    padding: 20px 0;
    text-align: center;
    color: #888888; 
  }
  
  .footer-line {
    width: 80%; 
    margin: 0 auto; 
    border: 0.5px solid #444343; 
  }
  
  .footer-text {
    margin: 10px 0 0;
    font-size: 20px;
    color: #888888; 
  }

  .navbar-main .nav-hamburger-menu{
    display: none;
    color: white;
}

  
