@media screen and (max-width: 576px){
    .navbar-main .Fitness{
        flex-direction: row;
    }
    .navbar-main .button-border{
        display: none;
    }
    .navbar-main .nav-hamburger-menu{
        display: block;
        color: white;
        width: 5%;
    }

    .banner{
        flex-direction: column;
        height: 100%;
    }
    .banner-childs-content{
        width: 65%;
        padding: 65px 0 0 80px;  
    }
    
    .banner-childs-content h1{
        font-weight: 1000;
        font-size: 60px;
    }
    .banner-childs-content .btn{
        width: 50%;
    }

    .banner-childs-content .btn1{
        width: 45%;
    }

    .banner-childs-pic{
        width: 100%;
        padding-left: 50px;
    }

    .habits .habits-content h1{
        flex-direction: column;
        font-size: 23px;
        width: 80%;
    }

    .habits .habits-content p{
        flex-direction: column;
        font-size: 10px;
        width: 80%;
    }

    .habits-pic{
        grid-template-columns: repeat(1,1fr);
    }
    
    .run-an-extra .run-an-extra-container{
        flex-direction: row;
        width: 20%;
    }

    .run-an-extra-child{
        width: 20%;
    }

    .BMI-content{
        flex-direction: row;
        width: 100%;
    }

    .BMI-calculation{
        flex-direction: row;
        width: 100%;
    }

    .BMI-calculator-form{
        flex-direction: column;
        width: 100%;
    }

    .meet-our-team-container{
        flex-direction: row;
    }

    .meet-our-team-child-first{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .meet-our-team-child-second{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-content{
        flex-direction: row;
    }

    .footer-links{
        flex-direction: row;
    }
}