@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    
}
.navbar-wrapper{
    background-color: white;
}

/* navbas css */
.navbar-main{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.nav-menu-button{
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;

}


/* banner start*/

.main-content{
    max-width: 1440px;
    margin: 0 auto;
    justify-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
   
}

.banner{
    background-image: url('/Assets/Hero-bg.png');
}

.banner-main{
    max-width: 1440px;
    
}

.banner-child img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    margin: 0 auto;
}
.banner-child{
    width: 50%;
    margin: 0 auto;
    color: rgb(13, 19, 33);
    letter-spacing: 0%;
    text-align: center;
    
}
.banner-child p{
    padding: 15px;

}

.banner-child button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;

}
    

/* banner end*/

/* body start */


.why-web-total{
    padding: 15px;
    
}

.why-web{
    background-color:rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    align-items: center;
    padding: 50px 0;
    border: 2px solid red;
    margin: 0 auto;
    border-radius: 10px;
    width:85%

}

.why-web text{
    padding: 30px 30px 30px 30px;
}
.groups{
    background-color: white;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    padding: 15px;
}

.groups-childs{
    width: 38%;
    padding: 15px;
}

.groups-childs img{
    width: 100%;
    border: 2px solid green;
    background-color: transparent;

}

.groups button{
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.my_inspiration{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    align-items: center;
    padding: 50px 0;
    border: 2px solid red;
    margin: 0 auto;
    border-radius: 10px;
    
}
.my_inspiration p{
    padding: 20px 0;
}

.my_inspiration video{
    padding: 20px;
    border-radius: 10px;
    color: rgb(147, 155, 163);
    border-radius: 10px;
}

.My-Current-Target{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    align-items: center;
    padding: 50px 0;
    border: 2px solid red;
    margin: 0 auto;
    border-radius: 10px;
}

.My-Current-Target p{
    padding: 20px 0;
}

.My-Current-Target .content-container {
    border: 2px solid red;
    border-radius: 10px;
    align-items: center;
    height: 100px;
    padding: 10px;
}

.My-Current-Target .box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    border-radius: 10px;
    height: 300px;
   
}

.My-Current-Target .red-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    background-color: rgb(252, 217, 217);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;

}

.My-Current-Target .blue-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    background-color: rgb(237, 238, 248);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;

}

.My-Current-Target .yellow-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    background-color: rgb(245, 247, 226);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;

}

.My-Current-Target img{
    height: 70px;
    width: 70px;
    padding: 10px;
}

.My-Current-Target button {
    background-color: transparent;
    color: black;
    border: none;
    align-items: left;
    margin-right: 265px;
}


.I-need-Support-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    align-items: center;
    border: 2px solid red;
    margin: 0 auto;
    
}

.I-need-Support-content img{
    height: 10%;
    border-radius: 10px;
}
.I-need-Support-content h1 {
    margin-bottom: 20px;
}
.I-need-Support-content .feedback{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}
.submit-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:white;
    color: black;
    cursor: pointer;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
}

